<!DOCTYPE html>
<html mip lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <title>蓝帝思</title>
    <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
    <link rel="canonical" href="http(s)://example.com">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/landisi.css">
    <link rel="stylesheet" href="css/plandisi.css">
    <script src="js/jq.js"></script>
    <script src="js/swiper.min.js"></script>
</head>

<body>
    <div class="lds-pc-box">
        <header>
            <div class="head-box content-box">
                <ul>
                    <a href="">
                        <li>新闻中心</li>
                    </a>
                    <a href="">
                        <li>常见问题</li>
                    </a>
                    <a href="">
                        <li>关于我们</li>
                    </a>
                    <a href="">
                        <li>网站地图</li>
                    </a>
                </ul>
            </div>

            <div class="logo-box content-box">
                <a href=""><img src="images/shouye_03.png" width="340px" height="60px"></a>
                <div>
                    <p>国内加盟热线：<span>028-83944948</span></p>
                    <span>173-18641860</span>
                </div>
            </div>

            <!-- 导航条 -->
            <div class="nav-box">
                <ul class="nav content-box">
                    <a href="">
                        <li>首页</li>
                    </a>
                    <a href="">
                        <li class="selected">产品中心</li>
                    </a>
                    <a href="">
                        <li>专业定制</li>
                    </a>
                    <a href="">
                        <li>招商加盟</li>
                    </a>
                    <a href="">
                        <li>安装教程</li>
                    </a>
                    <a href="">
                        <li>价格咨询</li>
                    </a>
                </ul>
            </div>

            <!-- banner -->
            <div class="swiper-container home-banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide pos-txt">
                        <img src="images/cpzx-banner_02.png">

                        <!-- <div class="txt-box">
                                    <h1 class="content-box">西南木饰面厂家</h1>
                                    <div class="content-box">
                                        <h2>真材实料</h2>
                                        <h2>出众品质</h2>
                                    </div>
                                    <p class="content-box">REALMATERIALOUTSTANDINGQUALITY</p>
                                </div> -->
                    </div>
                    <!-- <div class="swiper-slide">
                                <img src="images/banner1_07.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/banner1_07.png">
                            </div> -->
                </div>
                <!-- 如果需要分页器 -->
                <!-- <div class="swiper-pagination"></div> -->

                <!-- 如果需要导航按钮 -->
                <!-- <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div> -->
            </div>

            <script>
                var mySwiper = new Swiper('.home-banner', {
                    direction: 'horizontal', // 垂直切换选项
                    loop: false, // 循环模式选项
                    // speed: 2000,
                    // autoplay: {
                    //     delay: 3000,
                    //     disableOnInteraction: false,
                    //     clickable: true,
                    // },
                    // 如果需要分页器
                    pagination: {
                        el: '.swiper-pagination',
                    },
                    // 如果需要前进后退按钮
                    navigation: {
                        nextEl: '.swiper-button-next',
                        prevEl: '.swiper-button-prev',
                    }
                })        
            </script>
        </header>

        <!-- 中间内容 -->
        <div class="centre-box content-box">
            <div class="left-box">
                <div class="search-box">
                    <input type="text" value="柚木">
                    <button><img src="images/search.png" /></button>
                </div>

                <div class="title-lds-box">
                    蓝帝思产品中心
                </div>

                <div class="classify-box">
                    <p>材质分类<img src="images/right-jt1.png" /></p>
                    <ul>
                        <li><img src="images/right-jt2.png" /><a href="">柚木饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">胡桃木饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">枫木饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">水曲柳饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">橡木饰面板</a></li>
                    </ul>
                </div>
                <div class="classify-box">
                    <p>花纹分类<img src="images/right-jt1.png" /></p>
                    <ul>
                        <li><img src="images/right-jt2.png" /><a href="">>秋香饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">铁刀木饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">斑马饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">青藤柳饰面板</a></li>
                    </ul>
                </div>
                <div class="classify-box">
                    <p>工艺分类<img src="images/right-jt1.png" /></p>
                    <ul>
                        <li><img src="images/right-jt2.png" /><a href="">单面饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">双面木饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">高光饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">浮雕柳饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">锯齿饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">加长饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">加宽饰面板</a></li>
                    </ul>
                </div>
                <div class="classify-box">
                    <p>色调分类<img src="images/right-jt1.png" /></p>
                    <ul>
                        <li><img src="images/right-jt2.png" /><a href="">暖色饰面板</a></li>
                        <li><img src="images/right-jt2.png" /><a href="">冷色木饰面板</a></li>
                    </ul>
                </div>
            </div>

            <div class="right-box">
                <h3 class="title-link">首页>产品中心>材料分类>柚木饰面板</h3>

                <div class="display-box cpxq-box">
                    <h4>结构展示<span>/</span><span>STRUCTURE DISPLAY</span></h4>

                    <div class="img-txt-box">
                        <div class="cqxq-left-box">
                            <img src="images/cpxq_03.png" width="348px" height="301px">

                            <div>
                                <img src="images/cpxq_06.png">
                                <img src="images/cpxq_08.png">
                                <img src="images/cpxq_10.png">
                            </div>
                        </div>

                        <div class="cqxq-txt">
                            <h5>水洗秋香</h5>

                            <p>常规尺寸：1220*2440（mm）</p>
                            <p>常规厚度：3/5/9/15/18（mm）</p>
                            <p>拿样定制：可根据样品定制</p>
                            <p>工艺：高光/哑光（可根据要求自行定制）</p>
                            <p>服务：免费设计，指导安装</p>
                            <p>价格：每种产品属性不同，因此价格也<br>不同，可拨打下方号码立即咨询装</p>

                            <p class="phone-box">
                                现在咨询：<span>028-83944948<br>17318641860</span>
                            </p>
                        </div>
                    </div>

                    <div class="cqxq-js-box">
                        <h6>产品介绍</h6>

                        <div>
                            <p>找线定位核查预埋件及洞口 涂刷防潮、防腐涂料 +龙骨配制与安装一安装成品木饰面板。</p>

                            <p>
                                1、找位与划线木护墙、木筒子板安装前，应根据设计图要求，先找好标高、平面位置、竖向尺寸，进行弹线。
                            </p>
                            <p>
                                2、核预埋件及洞口:弹线后检查预埋件，木砖是否符合设计及安装的要求，主要检查排列间距、尺寸位置是否满足钉装龙骨的要求:量测门窗及其他洞口位置、尺寸是否方正垂直，与设计要求是否相符。
                            </p>

                            <p>
                                3、涂刷防潮、防腐涂料:设计有防潮、防腐要求的木护墙、木筒子板，在钉装龙骨时应压铺防潮卷材，或在钉装龙骨前进行涂刷防潮、防腐的施工。

                                找线定位一核查预埋件及洞口→涂刷防潮、防腐涂料龙骨配制与安装一安装成品木饰面板。
                            </p>

                            <p>找线定位核查预埋件及洞口 涂刷防潮、防腐涂料 +龙骨配制与安装一安装成品木饰面板。</p>

                            <p>
                                1、找位与划线木护墙、木筒子板安装前,应根据设计图要求,先找好标高、平面位置、竖向尺寸,进行弹线。
                            </p>
                            <p>
                                2、核预埋件及洞口:弹线后检查预埋件，木砖是否符合设计及安装的要求，主要检查排列间距、尺寸位置是否满足钉装龙骨的要求:量测门窗及其他洞口位置、尺寸是否方正垂直，与设计要求是否相符。
                            </p>

                            <p>
                                3、涂刷防潮、防腐涂料:设计有防潮、防腐要求的木护墙、木筒子板，在钉装龙骨时应压铺防潮卷材，或在钉装龙骨前进行涂刷防潮、防腐的施工。

                                找线定位一核查预埋件及洞口→涂刷防潮、防腐涂料龙骨配制与安装一安装成品木饰面板。
                            </p>
                        </div>
                    </div>

                    <div class="cqxq-al-box">
                        <h6>相关案例</h6>
                        <ul>
                            <li>
                                <img src="images/cpxq_14.png">
                                卧室
                            </li>
                            <li>
                                <img src="images/cpxq_16.png">
                                咖啡厅
                            </li>
                            <li>
                                <img src="images/cpxq_20.png">
                                酒店
                            </li>
                            <li>
                                <img src="images/cpxq_22.png">
                                家装
                            </li>
                        </ul>
                    </div>
                </div>

            </div>
        </div>

        <footer>
            <div class="content-box">
                <div class="footer-top">
                    <ul>
                        <li>产品分类</li>
                        <li><a href="">材质类</a></li>
                        <li><a href="">花纹类</a></li>
                        <li><a href="">工艺类</a></li>
                        <li><a href="">色调类</a></li>
                    </ul>
                    <ul>
                        <li>专业定制</li>
                        <li><a href="">常规定制</a></li>
                        <li><a href="">拿样定制</a></li>
                    </ul>
                    <ul>
                        <li>招商加盟</li>
                        <li><a href="">加盟流程</a></li>
                        <li><a href="">加盟价格</a></li>
                    </ul>
                    <ul>
                        <li>安装流程</li>
                        <li><a href="">气钉安装</a></li>
                        <li><a href="">胶粘法</a></li>
                    </ul>
                    <ul>
                        <li>售后服务</li>
                        <li><a href="">免费设计</a></li>
                        <li><a href="">送货上门</a></li>
                        <li><a href="">上门量房</a></li>
                        <li><a href="">指导安装</a></li>
                    </ul>
                    <ul>
                        <li>国内加盟热线</li>
                        <li>028-83944948</li>
                        <li>173-18641860</li>
                        <li>181-23381189</li>
                    </ul>
                    <div class="code-box">
                        <p>联系我们</p>
                        <img src="images/code_07.png">
                    </div>
                </div>

                <div class="footer-bottom">
                    <p>友情链接</p>

                    <ul>
                        <li><a href="">木饰面厂家</a></li>
                        <li><a href="">淄博白乳胶</a></li>
                        <li><a href="">重庆酒店装修</a></li>
                        <li><a href="">玻璃棉生产厂家</a></li>
                        <li><a href="">贵妃红石材</a></li>
                        <li><a href="">造纸不锈钢复合板</a></li>
                        <li><a href="">腻子膏厂家</a></li>
                        <li><a href="">钢波纹管</a></li>
                        <li><a href="">昆明家装</a></li>
                        <li><a href="">锁扣地板</a></li>
                        <li><a href="">济南装饰画</a></li>
                        <li><a href="">烟台冷板</a></li>
                        <li><a href="">外墙保温岩棉板</a></li>
                        <li><a href="">多层生态板厂家</a></li>
                        <li><a href="">临沂外墙保温板</a></li>
                    </ul>
                </div>
                <p class="about-us">蜀ICP备18021852号</p>
                <p class="about-us">联系邮箱：189450152@qq.com</p>
                <p class="about-us">联系地址：四川省成都市新都区龙桥镇渭水工业园</p>
            </div>
        </footer>
    </div>

    <div class="lds-phone-box">
        <header>
            <div class="head-box">
                <a class="logo-img" href=""><img src="images/shouye_03 (2).png" /></a>
                <ul>
                    <li><a href="">新闻中心</a></li>
                    <li><a href="">常见问题</a></li>
                    <li><a href="">关于我们</a></li>
                    <li><a href="">网站地图</a></li>
                </ul>

            </div>
            <div class="jmrx-box">
                <div class="phone-box">
                    国内加盟热线：<span>
                        <p><a href="tel:02883944248">028-83944248</a></p>
                        <p><a href="tel:17318601860">173-18601860</a></p>
                    </span>
                </div>

                <div class="caidan-box">
                    <img id="caidan" src="images/caidan.png">
                    <ul class="hid">
                        <li><a href="">首页</a></li>
                        <li><a href="">产品中心</a></li>
                        <li><a href="">专业定制</a></li>
                        <li><a href="">招商加盟</a></li>
                        <li><a href="">安装教程</a></li>
                        <li><a href="">价格咨询</a></li>
                    </ul>
                </div>
            </div>

            <!-- banner -->
            <div class="swiper-container home-banner">
                <div class="swiper-wrapper">
                    <div class="swiper-slide pos-txt">
                        <img src="images/pcpxq-banner_02.png">

                        <!-- <div class="txt-box">
                                    <h1 class="content-box">西南木饰面厂家</h1>
                                    <div class="content-box">
                                        <h2>真材实料</h2>
                                        <h2>出众品质</h2>
                                    </div>
                                    <p class="content-box">REALMATERIALOUTSTANDINGQUALITY</p>
                                </div> -->
                    </div>
                    <!-- <div class="swiper-slide">
                                <img src="images/pbanner1_11.png">
                            </div>
                            <div class="swiper-slide">
                                <img src="images/pbanner1_11.png">
                            </div> -->
                </div>
                <!-- 如果需要分页器 -->
                <div class="swiper-pagination"></div>
            </div>

            <div class="search-link-box">
                <div class="search-box">
                    <input type="text" value="柚木"><button><img src="images/psearch.png"></button>
                </div>

                <div class="link-title">
                    首页>产品中心>材料分类
                </div>
            </div>

            <!-- 导航 -->
            <div class="nav-box">
                蓝帝思产品分类导航

                <img id="nav-but" src="images/pnav.png">

                <div class="nav-list">
                    <div class="classify-box">
                        <p>材质分类<img src="images/right-jt1.png" /></p>
                        <ul>
                            <li><img src="images/right-jt2 (2).png" /><a href="">柚木饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">胡桃木饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">枫木饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">水曲柳饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">橡木饰面板</a></li>
                        </ul>
                    </div>
                    <div class="classify-box">
                        <p>花纹分类<img src="images/right-jt1.png" /></p>
                        <ul>
                            <li><img src="images/right-jt2 (2).png" /><a href="">秋香饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">铁刀木饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">斑马饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">青藤柳饰面板</a></li>
                        </ul>
                    </div>
                    <div class="classify-box">
                        <p>工艺分类<img src="images/right-jt1.png" /></p>
                        <ul>
                            <li><img src="images/right-jt2 (2).png" /><a href="">单面饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">双面木饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">高光饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">浮雕柳饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">锯齿饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">加长饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">加宽饰面板</a></li>
                        </ul>
                    </div>
                    <div class="classify-box">
                        <p>色调分类<img src="images/right-jt1.png" /></p>
                        <ul>
                            <li><img src="images/right-jt2 (2).png" /><a href="">暖色饰面板</a></li>
                            <li><img src="images/right-jt2 (2).png" /><a href="">冷色木饰面板</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </header>

        <script>
            var mySwiper = new Swiper('.home-banner', {
                direction: 'horizontal', // 垂直切换选项
                loop: false, // 循环模式选项
                speed: 2000,
                // autoplay: {
                //     delay: 3000,
                //     disableOnInteraction: false,
                //     clickable: true,
                // },
                // // 如果需要分页器
                // pagination: {
                //     el: '.swiper-pagination',
                // },
            })

            $('#caidan').click(function () {
                $('.hid').toggleClass('show');
            })

            $('#nav-but').click(function () {
                $('.nav-list').toggleClass('show');
            })
        </script>

        <!-- 内容 -->
        <div class="conter-box">

            <div class="show-box pcpxq-box">
                <img src="images/cpxq_03.png">

                <div class="cpxq-img">
                    <img src="images/cpxq_06.png">
                    <img src="images/cpxq_08.png">
                    <img src="images/cpxq_10.png">
                </div>

                <div class="cpjs-box">
                    <h5>水洗秋香</h5>

                    <p>常规尺寸：1220*2440（mm）</p>
                    <p>常规厚度：3/5/9/15/18（mm）</p>
                    <p>拿样定制：可根据样品定制</p>
                    <p>工艺：高光/哑光（可根据要求自行定制）</p>
                    <p>服务：免费设计，指导安装</p>
                    <p>价格：每种产品属性不同，因此价格也<br>不同，可拨打下方号码立即咨询装</p>

                    <p class="phone-box">
                        现在咨询：<span><a href="tel:02883944948">028-83944948</a>&nbsp;&nbsp;&nbsp;<a
                                href="tel:17318641860">17318641860</a></span>
                    </p>
                </div>

                <div class="cpjs2-box">
                    <h6>产品介绍</h6>

                    <div>
                        <p>找线定位核查预埋件及洞口 涂刷防潮、防腐涂料 +龙骨配制与安装一安装成品木饰面板。</p>

                        <p>
                            1、找位与划线木护墙、木筒子板安装前，应根据设计图要求，先找好标高、平面位置、竖向尺寸，进行弹线。
                        </p>
                        <p>
                            2、核预埋件及洞口:弹线后检查预埋件，木砖是否符合设计及安装的要求，主要检查排列间距、尺寸位置是否满足钉装龙骨的要求:量测门窗及其他洞口位置、尺寸是否方正垂直，与设计要求是否相符。
                        </p>

                        <p>
                            3、涂刷防潮、防腐涂料:设计有防潮、防腐要求的木护墙、木筒子板，在钉装龙骨时应压铺防潮卷材，或在钉装龙骨前进行涂刷防潮、防腐的施工。

                            找线定位一核查预埋件及洞口→涂刷防潮、防腐涂料龙骨配制与安装一安装成品木饰面板。
                        </p>

                        <p>找线定位核查预埋件及洞口 涂刷防潮、防腐涂料 +龙骨配制与安装一安装成品木饰面板。</p>

                        <p>
                            1、找位与划线木护墙、木筒子板安装前,应根据设计图要求,先找好标高、平面位置、竖向尺寸,进行弹线。
                        </p>
                        <p>
                            2、核预埋件及洞口:弹线后检查预埋件，木砖是否符合设计及安装的要求，主要检查排列间距、尺寸位置是否满足钉装龙骨的要求:量测门窗及其他洞口位置、尺寸是否方正垂直，与设计要求是否相符。
                        </p>

                        <p>
                            3、涂刷防潮、防腐涂料:设计有防潮、防腐要求的木护墙、木筒子板，在钉装龙骨时应压铺防潮卷材，或在钉装龙骨前进行涂刷防潮、防腐的施工。

                            找线定位一核查预埋件及洞口→涂刷防潮、防腐涂料龙骨配制与安装一安装成品木饰面板。
                        </p>
                    </div>
                </div>
            </div>

            <div class="cqxq-al-box">
                <h6>相关案例</h6>
                <ul>
                    <li>
                        <img src="images/cpxq_14.png">
                        卧室
                    </li>
                    <li>
                        <img src="images/cpxq_16.png">
                        咖啡厅
                    </li>
                    <li>
                        <img src="images/cpxq_20.png">
                        酒店
                    </li>
                    <li>
                        <img src="images/cpxq_22.png">
                        家装
                    </li>
                </ul>
            </div>

        </div>

        <footer>
            <div class="footer-nav-list">
                <ul>
                    <li>产品分类</li>
                    <li><a href="">材质类</a></li>
                    <li><a href="">花纹类</a></li>
                    <li><a href="">工艺类</a></li>
                    <li><a href="">色调类</a></li>
                </ul>
                <ul>
                    <li>专业定制</li>
                    <li><a href="">常规定制</a></li>
                    <li><a href="">拿样定制</a></li>
                </ul>
                <ul>
                    <li>招商加盟</li>
                    <li><a href="">加盟流程</a></li>
                    <li><a href="">加盟价格</a></li>
                </ul>
                <ul>
                    <li>安装流程</li>
                    <li><a href="">气钉安装</a></li>
                    <li><a href="">胶粘法</a></li>
                </ul>
                <ul>
                    <li>售后服务</li>
                    <li><a href="">免费设计</a></li>
                    <li><a href="">送货上门</a></li>
                    <li><a href="">上门量房</a></li>
                    <li><a href="">指导安装</a></li>
                </ul>
                <ul>
                    <li>国内加盟热线</li>
                    <li><a href="tel:02883944948">028-83944948</a></li>
                    <li><a href="tel:17318641860">173-18641860</a></li>
                    <li><a href="tel:18123381189">181-23381189</a></li>
                </ul>
            </div>

            <div class="line-box"></div>

            <div class="friend-link">
                <h4>友情链接</h4>

                <ul>
                    <li><a href="">木饰面厂家</a></li>
                    <li><a href="">淄博白乳胶</a></li>
                    <li><a href="">重庆酒店装修</a></li>
                    <li><a href="">玻璃棉生产厂家</a></li>
                    <li><a href="">贵妃红石材</a></li>
                    <li><a href="">造纸不锈钢复合板</a></li>
                    <li><a href="">腻子膏厂家</a></li>
                    <li><a href="">钢波纹管</a></li>
                    <li><a href="">昆明家装</a></li>
                    <li><a href="">锁扣地板</a></li>
                    <li><a href="">济南装饰画</a></li>
                    <li><a href="">烟台冷板</a></li>
                    <li><a href="">外墙保温岩棉板</a></li>
                    <li><a href="">多层生态板厂家</a></li>
                    <li><a href="">临沂外墙保温板</a></li>
                </ul>

                <p>蜀ICP备18021852号 <span>联系邮箱：189450152@qq.com</span></p>
                <p class="about-us">联系地址：四川省成都市新都区龙桥镇渭水工业园</p>
            </div>
        </footer>
    </div>

    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
</body>

</html>