<!DOCTYPE html>
<html mip lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="viewport" content="width=device-width,minimum-scale=1">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0;" />
    <title>蓝帝思</title>
    <link rel="stylesheet" type="text/css" href="https://c.mipcdn.com/static/v2/mip.css">
    <link rel="canonical" href="http(s)://example.com">
    <link rel="stylesheet" href="css/swiper.min.css">
    <link rel="stylesheet" href="css/landisi.css">
    <link rel="stylesheet" href="css/plandisi.css">
</head>

<body>
    <h1 class="wzdt-title">网站地图</h1>

    <img class="jt-down" src="images/timg.jpg">

    <ul class="wzdt-link-box">
        <li><a href="">网站首页</a></li>
        <li><a href="">产品中心</a></li>
        <li><a href="">专业定制</a></li>
        <li><a href="">招商加盟</a></li>
        <li><a href="">安装教程</a></li>
        <li><a href="">价格咨询</a></li>
        <li><a href="">新闻中心</a></li>
        <li><a href="">常见问题</a></li>
        <li><a href="">关于我们</a></li>
    </ul>

    <script src="https://c.mipcdn.com/static/v2/mip.js"></script>
</body>

</html>